@use "./variables";
@use "./mixins" as *;



body {
    font-family: 'Laila', 'Nunito Sans', sans-serif;
}

h1 {
    color: variables.$dark-text;
    font-family: 'Laila', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: calc(82px / 1.5);
    font-size: calc(64px / 1.5);

    @include tablet {
        line-height: 82px;
        font-size: 64px;
    }
}

h2 {
    color: variables.$dark-text;
    font-family: 'Laila';
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    line-height: calc(70px / 1.33);
    font-size: calc(48px / 1.33);

    @include tablet {
        line-height: 70px;
        font-size: 48px;
    }
}

h3 {
    color: variables.$dark-text;
    font-family: 'Laila';
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    line-height: calc(56px / 1.25);
    font-size: calc(36px / 1.25);

    @include tablet {
        line-height: 56px;
        font-size: 36px;
    }
}

h4 {
    color: variables.$dark-text;
    font-family: 'Laila';
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    line-height: calc(36px / 1.25);
    font-size: calc(24px / 1.25);

    @include tablet {
        line-height: 36px;
        font-size: 24px;
    }
}

h5 {
    color: variables.$dark-text;
    font-family: 'Laila';
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    line-height: calc(30px / 1.25);
    font-size: calc(20px / 1.25);

    @include tablet {
        line-height: 30px;
        font-size: 20px;
    }
}

h6 {
    color: variables.$primary-color;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: calc(28px / 1.25);
    font-size: calc(16px / 1.25);

    @include tablet {
        line-height: 28px;
        font-size: 16px;
    }
}

p,
li {
    color: variables.$medium-text;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    line-height: calc(28px / 1.25);
    font-size: calc(16px / 1.25);

    @include tablet {
        line-height: 28px;
        font-size: 16px;
    }
}

input,
label {
    font-family: 'Nunito Sans';
}