@use './mixins' as *;
@use './variables' as *;

.heading {
    &--primary {
        color: $dark-color;
        font-family: "Laila", serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 54px;

        @include tablet {
            font-size: 48px;
            line-height: 64px;
        }
    }

    &--secondary {
        color: $primary-color;
        font-family: 'Nunito Sans';
        font-size: 14px;
        font-weight: 900;
        line-height: 18px;

        @include tablet {
            font-size: 18px;
            line-height: 22px;
        }
    }
}

.paragraph {
    padding: 0;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $medium-text;
    text-align: left;

    @include tablet {
        font-size: 16px;
        line-height: 30px;
    }

    @include desktop {
        width: 80%;
    }
}