$primary-color: #FD5056;
$secondary-color: #1EBBD7;
$dark-color: #333745;
$white: #FFFFFF;

$bg-color: #F9F9F9;

$dark-text: #333333;
$medium-text: #555555;
$light-text: #8D8D8D;


// Break-points variables

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;