@use "../../styles/partials/media" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.hero {
    position: relative;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 32px 40px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @include desktop {
        padding: 32px 8vw;
    }



    &__text-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 16px;

        @include tablet {
            align-items: flex-start;
            text-align: left;
            max-width: 50%;
        }
    }

    &__heading {
        &--primary {
            color: $dark-color;
            font-family: "Laila", sans-serif;
            font-size: 40px;
            font-weight: 700;
            line-height: 54px;

            @include tablet {
                font-size: 48px;
                line-height: 64px;
            }
        }

        &--secondary {
            color: $primary-color;
            font-family: 'Nunito Sans';
            font-size: 14px;
            font-weight: 900;
            line-height: 18px;

            @include tablet {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    &__paragraph {
        padding: 0;
        font-family: 'Nunito Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: $medium-text;
        text-align: left;

        @include tablet {
            font-size: 16px;
            line-height: 30px;
        }

        @include desktop {
            width: 80%;
        }
    }

    &__button {
        width: 100%;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        border-radius: 25px;
        background: $primary-color;
        border: 2px solid $primary-color;
        box-shadow: 0px 7px 20px 0px rgba(253, 80, 86, 0.30);
        padding: 8px 32px;
        color: $white;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: all .2s ease-in-out;

        @include tablet {
            width: auto;
            font-size: 16px;
        }

        &:hover {
            background-color: $white;
            color: $primary-color;
        }
    }

    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;

        @include tablet {
            max-width: 50%;
        }

        @include desktop {
            margin-right: 3rem;
        }
    }

    &__image {
        width: 100%;

        @include tablet {
            max-width: 600px;
        }
    }

    // Background dotted map
    &__map {
        background-image: url("../../assets/map-BG.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 50%;
        height: 70%;
        left: 0px;
        top: 0px;
        opacity: 0.1;
        display: none;

        @include desktop {
            display: block;
        }
    }

    // Background small icons, only visible on desktop
    &__bgicon {
        position: absolute;
        display: none;

        @include desktop {
            display: block;
        }
    }

    .bg-arrow {
        width: 103.92px;
        height: 33.63px;
        left: 52%;
        top: 12%;
    }

    .bg-dot {
        width: 17.39px;
        height: 17.39px;
        left: 92%;
        top: 15%;
    }

    .bg-location {
        left: 94%;
        top: 29%;
    }

    .bg-location-small {
        left: 90%;
        top: 45%;
        width: 18px;
    }
}