@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.hero {
    position: relative;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 32px 40px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @include desktop {
        padding: 32px 8vw;
    }



    &__text-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 16px;

        @include tablet {
            align-items: flex-start;
            text-align: left;
            max-width: 50%;
        }
    }




    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;

        @include tablet {
            max-width: 50%;
        }

        @include desktop {
            margin-right: 3rem;
        }
    }

    &__image {
        width: 100%;

        @include tablet {
            max-width: 600px;
        }
    }

    // Background dotted map
    &__map {
        background-image: url("../../assets/map-BG.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 50%;
        height: 70%;
        left: 0px;
        top: 0px;
        opacity: 0.1;
        display: none;

        @include desktop {
            display: block;
        }
    }

    // Background small icons, only visible on desktop
    &__bgicon {
        position: absolute;
        display: none;

        @include desktop {
            display: block;
        }
    }

    .bg-arrow {
        width: 103.92px;
        height: 33.63px;
        left: 52%;
        top: 12%;
    }

    .bg-dot {
        width: 17.39px;
        height: 17.39px;
        left: 92%;
        top: 15%;
    }

    .bg-location {
        left: 94%;
        top: 29%;
    }

    .bg-location-small {
        left: 90%;
        top: 45%;
        width: 18px;
    }
}