@use "./fonts";
@use "./media";
@use "./mixins" as *;
@use "./variables";
@use "./buttons";
@use "./animations";

.navbar {
    @include padding-two(2,2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media.tablet {
        @include padding-two(4,4); 
    }

    @include media.tablet {
        @include padding-two(4,8); 
    }

    &__logo {
        width: 50%;
        min-width: 150px;
        max-width: 350px;
    }

    &__menu-mobile {
        width: 15%;
        max-width: 20px;        

        @include media.tablet {
            display: none;
        }
    }

    &__menu {
        display: none;

        @include media.tablet {
            display: flex;
        }
    }
    &__list {
        display: flex;
        list-style-type: none;
        align-items: center;
    }
    &__item {
        font-family: 'Nunito Sans', sans-serif;         
        font-weight: 900;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin-right: 35px;
        color: variables.$dark-color;
        &--active {
            color: variables.$primary-color;
        }
    }

    &__link{
        &:visited,
        &:link{
        text-decoration: none;
    }
        &--light {
            font-family: 'Nunito Sans', sans-serif;         
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: variables.$dark-color; 
        }
    }
    
}
