@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.trips {
    padding-bottom: 2rem;

    h2 {
        padding-bottom: 20px;
    }

    &--container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.1);
        padding: 2rem 0rem 2rem 5rem;
        border-radius: 15px;
        gap: 10%;
        padding-bottom: 7rem;
        margin-bottom: 4rem;

        @include tablet {
            flex-direction: row;
            padding-bottom: 2rem;
        }

        &__info {
            
            justify-content: flex-start;
            width: 100%;
            gap: 4%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            @include tablet {
                flex-wrap: nowrap;
                width: 75%;
                display: flex;
            }

            @include desktop {
                
            }

            &--entry {
                width: fit-content;

                @include tablet {
                    width: 100%;
                }
            }

            &__delete {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                @include tablet {
                    justify-content: center;
                    margin-left: auto;
                }
    
                p {
                    color: $primary-color;
                    font-weight: 700;
                }
            }
        }

        

        &__view {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $dark-color;
            color: $white;
            gap: 5px;
            padding: 0 5%;
            cursor: pointer;
            bottom: 0;
            width: 100%;
            left: 0;
            border-radius: 0 0 15px 15px;
            height: 50px;

            @include tablet {
                flex-direction: column;
                height: 100%;
                width: unset;
                right: 0;
                left: auto;
                border-radius: 0 15px 15px 0;
            }

            p {
                color: $white;
            }
        }

    }



}