@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.process {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    align-items: center;
    gap: 32px;

    @include tablet {
        padding: 32px 0;
        gap: 40px;
    }

    @include desktop {
        padding: 32px 0;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    &__text {
        font-family: 'Nunito Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: $medium-text;
        text-align: center;
        width: 80%;

        @include tablet {
            font-size: 16px;
            line-height: 30px;
        }

        @include desktop {
            width: 80%;
        }
    }


    &__step-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        @include tablet {
            flex-direction: row;
            align-items: flex-start;
        }

        @include desktop {
            justify-content: space-between;
            gap: 0;
        }

    }
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__icon {
        width: 95px;
    }

    &__heading {
        font-size: 18px;
        line-height: 28px;
        color: $dark-color;
    }

    &__text {
        font-family: 'Nunito Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: $medium-text;
        text-align: center;
        width: 80%;

        @include tablet {
            font-size: 16px;
            line-height: 30px;
        }

        @include desktop {
            width: 60%;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0;

    @include tablet {
        flex-direction: row;
        padding: 32px 0;
        justify-content: space-between;
    }

    @include desktop {
        padding: 32px 0;
    }

    &__image-container {
        position: relative;
        width: 100%;

        @include tablet {
            width: 50%;
            max-width: 600px;
        }
    }

    &__image {
        width: 100%;
    }

    &__bg-icon {
        position: absolute;

        &--bg-arrow {
            left: 65%;
            top: 12%;
            transform: rotate(-26.94deg);
        }

        &--bg-dot-yellow {
            width: 11.59px;
            height: 11.59px;
            top: 12%;
            left: 18%;
            background: #FFCA00;
            border-radius: 6.5px;
        }

        &--bg-dot-blue {
            width: 11.59px;
            height: 11.59px;
            left: 16%;
            top: 86%;
            background: #1EBBD7;
            border-radius: 4px;
            transform: rotate(14.24deg);
        }

        &--bg-dot-red {
            width: 11.59px;
            height: 11.59px;
            left: 90%;
            top: 70%;
            background: #FD5056;
            border-radius: 4px;
            transform: rotate(-41.14deg);
        }
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;

        @include tablet {
            width: 50%;
        }

        .paragraph {
            text-align: center;

            @include tablet {
                text-align: left;
            }
        }
    }
}

.statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;

    @include desktop {
        width: 80%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            align-items: flex-start;
        }
    }

    &__count {
        color: $primary-color;
        font-family: 'Laila', serif;
        font-size: 28px;
        font-weight: 700;

        @include tablet {
            font-size: 32px;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 900;
        color: $medium-text;

        @include tablet {
            font-size: 16px;
        }
    }
}


.gallery {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @include tablet {
        padding: 32px 0;
    }

    @include desktop {
        padding: 32px 0;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        gap: 16px;
    }

    &__text {
        font-family: 'Nunito Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: $medium-text;
        text-align: center;
        width: 100%;

        @include tablet {
            font-size: 16px;
            line-height: 30px;
        }

        @include desktop {
            width: 80%;
        }
    }

    &__image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;


        @include tablet {
            display: grid;
            grid-gap: 24px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }


    }

    &__image {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 20px;
        object-fit: cover;
        object-position: top;

        &--1 {
            @include tablet {
                grid-row: 1/span 2;
                grid-column: 1/span 2;
            }
        }
    }
}