@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.login-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);

    @include tablet {
        height: calc(100vh - 94px);
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.authentication-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 16px;
    padding: 24px 16px;

    @include tablet {
        width: 60%;
        margin: auto auto;
    }

    @include desktop {
        width: 25%;
    }

    &__heading {
        font-size: 16px;
        font-weight: 700;
        color: $dark-text;

        @include tablet {
            font-size: 18px;
        }

    }
}

.authentication-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 16px;
    border-bottom: 1px solid $light-text;
    padding-bottom: 24px;

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4px;

        &--checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 4px;
        }
    }

    &__label {
        font-size: 14px;
        font-weight: 900;
        color: $dark-text;

        &--checkbox {
            font-size: 14px;
            font-weight: 600;
        }
    }

    &__input {
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid $light-text;
        border-radius: 5px;
        outline: none;

        &:focus {
            border: 1px solid $primary-color;
        }

        &--checkbox {
            accent-color: $primary-color;
        }
    }

    &__wrapper {
        display: flex;
        align-content: center;
        justify-content: space-between;
        gap: 24px;
    }

    &__link {
        font-size: 14px;
        color: $dark-text;
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;

    }

    &__button {
        &--primary {
            width: 100%;
        }
    }


}

.divider-or {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito Sans';
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;

    @include tablet {
        max-width: 451px;
    }

    &:before,
    &:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px $light-text solid;
        margin: auto;
    }

    &:before {
        margin-right: 16px;
    }

    &:after {
        margin-left: 16px
    }
}