@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables";

.planner {
    padding-bottom: 10rem;

    &--title {
        text-align: left;
        padding-bottom: 3rem;
    }

    &--plan {
        display: flex;
        justify-content: space-between;


        &__days {
            display: flex;
            flex-direction: column;

            @include tablet {
                width: 50%;
            }
        }
        &__events {
            display: flex;
            flex-direction: column;
            gap: 30px;
            position: sticky;
            top: 50px;
            background: #FFFFFF;
            box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            width: 142px;
            height: 232px;
            padding: 1.4rem 1rem 2rem;

            @include tablet {
                width: 444px;
                height: 486px;
                gap: 70px;
                padding: 2.8rem 2.8rem 4rem;
            }

            &--button {
                text-align: center;
            }

            &--items {
                &--title {
                    text-align: left;
                    padding-bottom: 0.5rem;

                    @include tablet {
                        padding-bottom: 3.1rem;
                    }

                    h3 {
                        font-size: 20px;
                        @include tablet {
                            font-size: 36px;
                        }
                    }
                }
    
                &--item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    cursor: pointer;

                    @include tablet {
                        margin-bottom: 2.8rem;
                    }
    
                    img {
                        margin-right: 1rem;
                        height: 30px;
                        width: 28px;

                        @include tablet {
                            margin-right: 2.7rem;
                            height: unset;
                            width: unset;
                        }
                    }

                    .desktop-text {
                        display: none;

                        @include tablet {
                            display: block;
                        }
                    }

                    .mobile-text {
                        font-size: 15px;
                        @include tablet {
                            display: none;
                        }
                    }
                }
            }

            .feedback-message {
                padding-top: 12px;
                font-size: 14px;
                color: #28a745;
                font-weight: 600;
            }
        }
    }
}