@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;

    @include tablet {
        padding: 32px 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    @include desktop {
        padding: 40px 10vw;
    }

    &__intro-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 16px;
        text-align: center;

        @include tablet {
            width: 50%;
            align-items: flex-start;
            text-align: left;
        }
    }

    &__logo {
        height: 28px;
    }

    &__text {
        font-family: 'Nunito Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: $medium-text;


        @include tablet {
            font-size: 16px;
            line-height: 30px;
            width: 80%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include tablet {
            flex-direction: row;
            width: 50%;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    &__link-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        align-items: center;

        @include tablet {
            text-align: left;
            align-items: flex-start;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        @include tablet {
            align-items: flex-start;
        }
    }

    &__item {}

    &__link,
    &__link:visited,
    &__link:link {
        font-size: 14px;
        color: $medium-text;
        font-weight: 600;
    }

    &__sign-up {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        gap: 16px;

        @include tablet {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        color: $dark-text;
    }

}