@use '../../styles/partials/mixins' as *;

.hero-bg-icons {
    &__bgicon {
        position: absolute;
        display: none;

        @include desktop {
            display: block;
        }

        &--bg-arrow {
            width: 103.92px;
            height: 33.63px;
            left: 52%;
            top: 12%;
        }

        &--bg-dot {
            width: 17.39px;
            height: 17.39px;
            left: 92%;
            top: 15%;
        }

        &--bg-location {
            left: 94%;
            top: 29%;
        }

        &--bg-location-small {
            left: 90%;
            top: 45%;
            width: 18px;
        }

    }
}