@use "./partials/fonts";
@use "./partials/media";
@use "./partials/mixins" as *;
@use "./partials/variables";
@use "./partials/buttons";

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

// Font size stablished so that 1rem = 10px
html {
    font-size: 62.5%;
}

body {
    font-family: 'Laila', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    // color: inherit;
    cursor: pointer; 
    &:visited {
        @extend a;
    }
}

nav {
    @include padding-two(2,2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media.tablet {
        @include padding-two(4,4); 
    }

    .navbar-logo {
        width: 50%;
        min-width: 150px;
        max-width: 350px;
    }

    .navbar-menu-mobile {
        width: 15%;
        max-width: 20px;        

        @include media.tablet {
            display: none;
        }
    }

    .navbar-menu {
        display: none;

        @include media.tablet {
            display: flex;
        }

        ul {
            display: flex;
            list-style-type: none;
            align-items: center;

            li {
                font-family: 'Nunito Sans', sans-serif;         
                font-weight: 900;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                margin-right: 35px;
                color: variables.$dark-color;
            }

            .active {
                color: variables.$primary-color;
            }

            .signup-link {
                font-family: 'Nunito Sans', sans-serif;         
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: variables.$dark-color; 
                margin-left: 35px; 
            }
        }
    }
}

main {
    text-align: center;
}

.hero {

    &__text {
        @include padding-all(4,2,0,2);
        
        @include media.tablet {
            @include padding-all(4,4,0,4); 
        }
        
        p {
            @include padding-all(1,0,3,0);

            @include media.tablet {
                @include padding-all(2,4,3,4); 
            }
        }
    }

    &__image {
        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include media.tablet {
                max-width: 70%;
                max-width: 600px;
            }
        }
    }
}

.process {
    @include padding-two(0,2);

    &__icons {
       
        text-align: center;

        &__step {
            @include padding(2);
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media.tablet {
                @include padding-two(2,8); 
            }

            img {
                @include padding-two(2,0);
                width: 40%;
                
                @include media.tablet {
                    max-width: 18%;
                }
            }
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    &__image {
       order: 2;
        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include media.tablet {
                max-width: 70%;
                max-width: 600px;
            }
        }
    }

    &__text {
        order: 1;
        @include padding-all(4,2,0,2);

        @include media.tablet {
            @include padding-all(8,4,0,4); 
        }

        p {
            @include media.tablet {
                @include padding-two(0,4); 
            }
        }

        &__numbers {
            @include padding-all(2,0,0,0);
            div {
                @include padding-two (1,0);
            }
        }
    }
}

.gallery {
    @include padding-all(0,2,2,2);

    @include media.tablet {
        @include padding-all(0,4,4,4); 
    }

    &__intro {
        @include padding-all(0,0,3,0);
        
        p {
            @include padding-all(1,0,3,0);
            
            @include media.tablet {
                @include padding-all(1,4,3,4); 
            }
        }
    }

    &__images {
        display: flex;
        flex-wrap: wrap;

        img {
            @include padding(2);
            border-radius: 25px;
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 1 / 1;

            @include media.tablet {
                width: 50%;

                &:last-child {
                    display: none;
                }
            }

            @include media.desktop {
                &:last-child {
                    display: flex;
                }
            }
        }
    }
}

.cta {
    @include padding-all(4,2,1,2);

    background-color: variables.$bg-color;

    @include media.tablet {
        @include padding-all(6,4,1,4); 
    }

    &__text {
        p {
            @include padding-all(1,0,3,0);
        }
    }

    &__image {
        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include media.tablet {
                max-width: 70%;
                max-width: 500px;
            }

        }
    }
}

footer {
    @include padding-two(1,2);
    text-align: center;

    @include media.tablet {
        @include padding-two(2,4);
    }
    
    ul, ol {
        list-style: none;
      }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__intro {
            @include padding-two(2,0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 50%;
                @include padding-two(2,0);
            }
        }

        &__links {

            &--menu {
                @include padding-two(2,0);
            }

            &--signup {
                @include padding-two(2,0);
                p {
                margin-bottom: 2.4rem;
                }
            }
        }
    }

    .footer-copyright {
        background-color: variables.$dark-color;
        color: variables.$white;
        @include padding-two(2,2);
        margin-top: 5rem;
        span {
            color: variables.$white;
            font-weight: 700;
        }
        p {
            color: variables.$white;
        }
    }
}