@use "./partials/fonts";
@use "./partials/media";
@use "./partials/mixins" as *;
@use "./partials/variables";
@use "./partials/buttons";

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

// Font size stablished so that 1rem = 10px
html {
    font-size: 62.5%;
}

body {
    font-family: 'Laila', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    // color: inherit;
    cursor: pointer; 
    &:visited {
        @extend a;
    }
}

#body {
    @include media.desktop {
        max-width: 1600px;
        margin: 0 auto;
    }
}

nav {
    @include padding-two(2,2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media.tablet {
        @include padding-two(4,4); 
    }

    @include media.tablet {
        @include padding-two(4,8); 
    }

    .navbar-logo {
        width: 50%;
        min-width: 150px;
        max-width: 350px;
    }

    .navbar-menu-mobile {
        width: 15%;
        max-width: 20px;        

        @include media.tablet {
            display: none;
        }
    }

    .navbar-menu {
        display: none;

        @include media.tablet {
            display: flex;
        }

        ul {
            display: flex;
            list-style-type: none;
            align-items: center;

            li {
                font-family: 'Nunito Sans', sans-serif;         
                font-weight: 900;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                margin-right: 35px;
                color: variables.$dark-color;
            }

            .active {
                color: variables.$primary-color;
            }

            .signup-link {
                font-family: 'Nunito Sans', sans-serif;         
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: variables.$dark-color; 
                margin-left: 35px; 
            }
        }
    }
}

main {
    text-align: center;
}

.hero {
    position: relative;
    
    @include media.desktop {
        @include padding-two(0,8);
        display: flex;
        align-items: center;
        text-align: left;
    }

    &__text {
        @include padding-all(4,2,0,2);
        
        @include media.tablet {
            @include padding-all(4,4,0,4); 
        }

        @include media.desktop {
            @include padding-all(4,8,0,8);
            flex-basis: 50%;
            flex-grow: 0; 
        }
        
        p {
            @include padding-all(1,0,3,0);

            @include media.tablet {
                @include padding-all(2,4,3,4); 
            }

            @include media.desktop {
                @include padding-all(2,0,4,0);
            }
        }
    }

    &__image {
        display: flex;
        justify-content: center;

        @include media.desktop {
            flex-basis: 50%;
            flex-grow: 0;
        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include media.tablet {
                max-width: 70%;
                max-width: 600px;
            }
        }
    }

    // Background dotted map
    &__map {
        background-image: url("../assets/map-BG.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 1216px;
        height: 482px;
        left: 0px;
        top: 0px;
        opacity: 0.1;
    }

    // Background small icons, only visible on desktop
    &__bgicon {
        position: absolute;
        display: none;

        @include media.desktop {
            display: block;
        }
    }
    .bg-arrow {
        width: 103.92px;
        height: 33.63px;
        left: 52%;
        top: 12%;
    }
    .bg-dot {
        width: 17.39px;
        height: 17.39px;
        left: 92%;
        top: 15%; 
    }
    .bg-location {
        left: 94%;
        top: 29%;
    }
    .bg-location-small {
        left: 90%;
        top: 45%;
        width: 18px;
    }
}

.process {
    @include padding-two(0,2);

    @include media.desktop {
        @include padding-all(12,0,8,0);
    }
    
    &__icons {
        text-align: center;

        @include media.desktop {
            @include padding-two(0,8);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__step {
            @include padding(2);
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media.tablet {
                @include padding-two(2,8); 
            }

            @include media.desktop {
                width: 40rem;

                h5 {
                    padding-bottom: 1.6rem;
                }
            }

            img {
                @include padding-two(2,0);
                width: 40%;
                
                @include media.tablet {
                    max-width: 18%;
                }

                @include media.desktop {
                    max-width: 18rem;
                }
            }
        }
    }
}

.about {
    display: flex;
    flex-direction: column;

    @include media.desktop {
        @include padding-all(0,16,8,16);
        display: flex;
        align-items: center;
        text-align: left;
        flex-direction: row;
    }

    &__image {
       order: 2;
       position: relative;

       @include media.desktop {
        order:1;
        flex-basis: 50%;
        flex-grow: 0;
       }

        &--illustration {
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include media.tablet {
                max-width: 70%;
                max-width: 600px;
            }
        }
    }

    &__bgicon {
        display: none;
        position: absolute;

        @include media.desktop {
            display: block;
        }
    }

    .bg-arrow {
        left: 65%;
        top: 12%;
        transform: rotate(-26.94deg);
    }

    .bg-dot-yellow {
        width: 11.59px;
        height: 11.59px;
        top: 12%;
        left: 18%;
        background: #FFCA00;
        border-radius: 6.5px;
    }

    .bg-dot-blue {
        width: 11.59px;
        height: 11.59px;
        left: 16%;
        top: 86%;
        background: #1EBBD7;
        border-radius: 4px;
        transform: rotate(14.24deg);
    }

    .bg-dot-red {
        width: 11.59px;
        height: 11.59px;
        left: 90%;
        top: 70%;
        background: #FD5056;
        border-radius: 4px;
        transform: rotate(-41.14deg);
    }

    &__text {
        order: 1;
        @include padding-all(4,2,0,2);

        @include media.tablet {
            @include padding-all(8,4,0,4); 
        }

        @include media.desktop {
            order:2;
            flex-basis: 50%;
            flex-grow: 0;
           }

        p {
            @include media.tablet {
                @include padding-two(0,4); 
            }
            @include media.desktop {
                @include padding-all(2,0,0,0);
            }
        }

        &__numbers {
            @include padding-all(2,0,0,0);
            
            @include media.desktop {
                display: flex;
                justify-content: space-between;
            }

            div {
                @include padding-two (1,0);
            }
        }
    }
}

.gallery {
    @include padding-all(0,2,2,2);

    @include media.tablet {
        @include padding-all(0,4,4,4); 
    }

    @include media.desktop {
        @include padding-all(2,16,8,16); 
    }

    &__intro {
        @include padding-all(0,0,3,0);

        @include media.desktop {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        p {
            @include padding-all(1,0,3,0);
            
            @include media.tablet {
                @include padding-all(1,4,3,4); 
            }

            @include media.desktop {
                max-width: 600px;
            }
        }
    }

// Gallery in phone view
    &__images {
        display: flex;
        flex-wrap: wrap;

        @include media.desktop {
            display: none;
        }

        img {
            @include padding(2);
            border-radius: 25px;
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 1 / 1;

            @include media.tablet {
                width: 50%;

                &:last-child {
                    display: none;
                }
            }

            @include media.desktop {
                &:last-child {
                    display: flex;
                }
            }
        }
    }

// Gallery in desktop view
    &__images-desktop {
        display: none;

        @include media.desktop {
            display: flex;
            justify-content: center;

            img {
                @include padding(2);
                border-radius: 25px;
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 1 / 1;
            }

            &--left {
                flex-basis: 50%;
                height: 100%;
            }

            &--right {
                flex-basis: 50%;
                display: flex;
                flex-wrap: wrap;
                height: 100%;

                div {
                    flex-basis: 50%;
                    height: 50%;
                }
            }
        }
    }
}

.cta {
    @include padding-all(4,2,1,2);

    background-color: variables.$bg-color;

    @include media.tablet {
        @include padding-all(6,4,1,4); 
    }

    @include media.desktop {
        @include padding-two(2,8);
        margin: 12.8rem;
        display: flex;
        align-items: center;
        text-align: left;
        border-radius: 15px;
    }

    &__text {
        
        @include media.desktop {
            flex-basis: 60%;
        }
        
        p {
            @include padding-all(1,0,3,0);
        }
    }

    &__image {
        text-align: center;
        @include media.desktop {
            flex-basis: 40%;
        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;

            @include media.tablet {
                max-width: 500px;
            }

            @include media.desktop {
                max-width: 400px;
            }
        }
    }
}

footer {
    @include padding-two(1,2);
    text-align: center;

    @include media.tablet {
        @include padding-two(2,4);
    }

    @include media.desktop {
        @include padding-all(2,16,8,16);
    }
    
    ul, ol {
        list-style: none;
      }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media.desktop {
            // @include padding-two(2,4);
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        &__intro {
            @include padding-two(2,0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include media.desktop {
                flex-basis: 50%;
                align-items: flex-start;
                text-align: left;
                width: 200px;
            }

            img {
                width: 50%;
                @include padding-two(2,0);

                @include media.desktop {
                    @include padding-all(0,0,2,0);
                }
            }

            p {
                @include media.desktop {
                    width: 350px;
                }
            }
        }

        &__links {
            
            @include media.desktop {
                display: flex;
                flex-basis: 50%;
                text-align: left;
            }

            h5 {
                @include padding-all(0,0,1,0);
            }

            &--menu {
                @include padding-two(2,0);
                flex-basis: 50%;
            }

            &--signup {
                @include padding-two(2,0);
                flex-basis: 50%;

                p {
                margin-bottom: 2.4rem;
                }
            }
        }
    }
}

.footer-copyright {
    background-color: variables.$dark-color;
    color: variables.$white;
    margin-top: 5rem;

    @include padding-two(2,2);

    @include media.tablet {
        @include padding-two(2,4);
    }

    @include media.desktop {
        @include padding-two(2,8);
    }

    span {
        color: variables.$white;
        font-weight: 700;
    }
    p {
        color: variables.$white;
    }
}