h1 {
  color: #333333;
  font-family: "Laila", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 54.6666666667px;
  font-size: 42.6666666667px;
}
@media (min-width: 768px) {
  h1 {
    line-height: 82px;
    font-size: 64px;
  }
}

h2 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 52.6315789474px;
  font-size: 36.0902255639px;
}
@media (min-width: 768px) {
  h2 {
    line-height: 70px;
    font-size: 48px;
  }
}

h3 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 44.8px;
  font-size: 28.8px;
}
@media (min-width: 768px) {
  h3 {
    line-height: 56px;
    font-size: 36px;
  }
}

h4 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 28.8px;
  font-size: 19.2px;
}
@media (min-width: 768px) {
  h4 {
    line-height: 36px;
    font-size: 24px;
  }
}

h5 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
  font-size: 16px;
}
@media (min-width: 768px) {
  h5 {
    line-height: 30px;
    font-size: 20px;
  }
}

h6 {
  color: #FD5056;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 22.4px;
  font-size: 12.8px;
}
@media (min-width: 768px) {
  h6 {
    line-height: 28px;
    font-size: 16px;
  }
}

p, li {
  color: #555555;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  font-size: 12.8px;
}
@media (min-width: 768px) {
  p, li {
    line-height: 28px;
    font-size: 16px;
  }
}

.primary-button {
  background-color: #FD5056;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 7px 20px rgba(253, 80, 86, 0.2980392157);
  padding: 0.8rem 3.2rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}
.primary-button:hover {
  background-color: #FFFFFF;
  border: 2px solid #FD5056;
  color: #FD5056;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Laila", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}
nav {
  padding: 1.6rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  nav {
    padding: 3.2rem 3.2rem;
  }
}
nav .navbar-logo {
  width: 50%;
  min-width: 150px;
  max-width: 350px;
}
nav .navbar-menu-mobile {
  width: 15%;
  max-width: 20px;
}
@media (min-width: 768px) {
  nav .navbar-menu-mobile {
    display: none;
  }
}
nav .navbar-menu {
  display: none;
}
@media (min-width: 768px) {
  nav .navbar-menu {
    display: flex;
  }
}
nav .navbar-menu ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
nav .navbar-menu ul li {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-right: 35px;
  color: #333745;
}
nav .navbar-menu ul .active {
  color: #FD5056;
}
nav .navbar-menu ul .signup-link {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #333745;
  margin-left: 35px;
}

main {
  text-align: center;
}

.hero__text {
  padding: 3.2rem 1.6rem 0rem 1.6rem;
}
@media (min-width: 768px) {
  .hero__text {
    padding: 3.2rem 3.2rem 0rem 3.2rem;
  }
}
.hero__text p {
  padding: 0.8rem 0rem 2.4rem 0rem;
}
@media (min-width: 768px) {
  .hero__text p {
    padding: 1.6rem 3.2rem 2.4rem 3.2rem;
  }
}
.hero__image {
  display: flex;
  justify-content: center;
}
.hero__image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .hero__image img {
    max-width: 70%;
    max-width: 600px;
  }
}

.process {
  padding: 0rem 1.6rem;
}
.process__icons {
  text-align: center;
}
.process__icons__step {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .process__icons__step {
    padding: 1.6rem 6.4rem;
  }
}
.process__icons__step img {
  padding: 1.6rem 0rem;
  width: 40%;
}
@media (min-width: 768px) {
  .process__icons__step img {
    max-width: 18%;
  }
}

.about {
  display: flex;
  flex-direction: column;
}
.about__image {
  order: 2;
}
.about__image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .about__image img {
    max-width: 70%;
    max-width: 600px;
  }
}
.about__text {
  order: 1;
  padding: 3.2rem 1.6rem 0rem 1.6rem;
}
@media (min-width: 768px) {
  .about__text {
    padding: 6.4rem 3.2rem 0rem 3.2rem;
  }
}
@media (min-width: 768px) {
  .about__text p {
    padding: 0rem 3.2rem;
  }
}
.about__text__numbers {
  padding: 1.6rem 0rem 0rem 0rem;
}
.about__text__numbers div {
  padding: 0.8rem 0rem;
}

.gallery {
  padding: 0rem 1.6rem 1.6rem 1.6rem;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0rem 3.2rem 3.2rem 3.2rem;
  }
}
.gallery__intro {
  padding: 0rem 0rem 2.4rem 0rem;
}
.gallery__intro p {
  padding: 0.8rem 0rem 2.4rem 0rem;
}
@media (min-width: 768px) {
  .gallery__intro p {
    padding: 0.8rem 3.2rem 2.4rem 3.2rem;
  }
}
.gallery__images {
  display: flex;
  flex-wrap: wrap;
}
.gallery__images img {
  padding: 1.6rem;
  border-radius: 25px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
@media (min-width: 768px) {
  .gallery__images img {
    width: 50%;
  }
  .gallery__images img:last-child {
    display: none;
  }
}
@media (min-width: 1024px) {
  .gallery__images img:last-child {
    display: flex;
  }
}

.cta {
  padding: 3.2rem 1.6rem 0.8rem 1.6rem;
  background-color: #F9F9F9;
}
@media (min-width: 768px) {
  .cta {
    padding: 4.8rem 3.2rem 0.8rem 3.2rem;
  }
}
.cta__text p {
  padding: 0.8rem 0rem 2.4rem 0rem;
}
.cta__image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .cta__image img {
    max-width: 70%;
    max-width: 500px;
  }
}

footer {
  padding: 0.8rem 1.6rem;
  text-align: center;
}
@media (min-width: 768px) {
  footer {
    padding: 1.6rem 3.2rem;
  }
}
footer ul, footer ol {
  list-style: none;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-container__intro {
  padding: 1.6rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-container__intro img {
  width: 50%;
  padding: 1.6rem 0rem;
}
footer .footer-container__links--menu {
  padding: 1.6rem 0rem;
}
footer .footer-container__links--signup {
  padding: 1.6rem 0rem;
}
footer .footer-container__links--signup p {
  margin-bottom: 2.4rem;
}
footer .footer-copyright {
  background-color: #333745;
  color: #FFFFFF;
  padding: 1.6rem 1.6rem;
  margin-top: 5rem;
}
footer .footer-copyright span {
  color: #FFFFFF;
  font-weight: 700;
}
footer .footer-copyright p {
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */