h1 {
  color: #333333;
  font-family: "Laila", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 54.6666666667px;
  font-size: 42.6666666667px;
}
@media (min-width: 768px) {
  h1 {
    line-height: 82px;
    font-size: 64px;
  }
}

h2 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 52.6315789474px;
  font-size: 36.0902255639px;
}
@media (min-width: 768px) {
  h2 {
    line-height: 70px;
    font-size: 48px;
  }
}

h3 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 44.8px;
  font-size: 28.8px;
}
@media (min-width: 768px) {
  h3 {
    line-height: 56px;
    font-size: 36px;
  }
}

h4 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 28.8px;
  font-size: 19.2px;
}
@media (min-width: 768px) {
  h4 {
    line-height: 36px;
    font-size: 24px;
  }
}

h5 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
  font-size: 16px;
}
@media (min-width: 768px) {
  h5 {
    line-height: 30px;
    font-size: 20px;
  }
}

h6 {
  color: #FD5056;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 22.4px;
  font-size: 12.8px;
}
@media (min-width: 768px) {
  h6 {
    line-height: 28px;
    font-size: 16px;
  }
}

p, li {
  color: #555555;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  font-size: 12.8px;
}
@media (min-width: 768px) {
  p, li {
    line-height: 28px;
    font-size: 16px;
  }
}

.primary-button {
  background-color: #FD5056;
  border: 2px solid #FD5056;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 7px 20px rgba(253, 80, 86, 0.2980392157);
  padding: 0.8rem 3.2rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}
.primary-button:hover {
  background-color: #FFFFFF;
  color: #FD5056;
}

.slidein-right {
  opacity: 0;
  transform: translateX(25%);
  animation: slide-in 0.8s ease-in-out 1s forwards;
}

.slidein-left {
  opacity: 0;
  transform: translateX(-25%);
  animation: slide-in 0.8s ease-in-out 0.3s forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadein-up {
  opacity: 0;
  transform: translateY(25%);
  animation: fade-up 0.8s ease-in-out 1.8s forwards;
}

@keyframes fade-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav {
  padding: 1.6rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  nav {
    padding: 3.2rem 3.2rem;
  }
}
@media (min-width: 768px) {
  nav {
    padding: 3.2rem 6.4rem;
  }
}
nav .navbar-logo {
  width: 50%;
  min-width: 150px;
  max-width: 350px;
}
nav .navbar-menu-mobile {
  width: 15%;
  max-width: 20px;
}
@media (min-width: 768px) {
  nav .navbar-menu-mobile {
    display: none;
  }
}
nav .navbar-menu {
  display: none;
}
@media (min-width: 768px) {
  nav .navbar-menu {
    display: flex;
  }
}
nav .navbar-menu ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
nav .navbar-menu ul li {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-right: 35px;
  color: #333745;
}
nav .navbar-menu ul .active {
  color: #FD5056;
}
nav .navbar-menu ul .signup-link {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #333745;
  margin-left: 35px;
}

footer {
  padding: 0.8rem 1.6rem;
  text-align: center;
}
@media (min-width: 768px) {
  footer {
    padding: 1.6rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  footer {
    padding: 1.6rem 12.8rem 6.4rem 12.8rem;
  }
}
footer ul, footer ol {
  list-style: none;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1280px) {
  footer .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
footer .footer-container__intro {
  padding: 1.6rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1280px) {
  footer .footer-container__intro {
    flex-basis: 50%;
    align-items: flex-start;
    text-align: left;
    width: 200px;
  }
}
footer .footer-container__intro img {
  width: 50%;
  padding: 1.6rem 0rem;
}
@media (min-width: 1280px) {
  footer .footer-container__intro img {
    padding: 0rem 0rem 1.6rem 0rem;
  }
}
@media (min-width: 1280px) {
  footer .footer-container__intro p {
    width: 350px;
  }
}
@media (min-width: 1280px) {
  footer .footer-container__links {
    display: flex;
    flex-basis: 50%;
    text-align: left;
  }
}
footer .footer-container__links h5 {
  padding: 0rem 0rem 0.8rem 0rem;
}
footer .footer-container__links--menu {
  padding: 1.6rem 0rem;
  flex-basis: 50%;
}
footer .footer-container__links--signup {
  padding: 1.6rem 0rem;
  flex-basis: 50%;
}
footer .footer-container__links--signup p {
  margin-bottom: 2.4rem;
}

.footer-copyright {
  background-color: #333745;
  color: #FFFFFF;
  margin-top: 5rem;
  padding: 1.6rem 1.6rem;
}
@media (min-width: 768px) {
  .footer-copyright {
    padding: 1.6rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .footer-copyright {
    padding: 1.6rem 6.4rem;
  }
}
.footer-copyright span {
  color: #FFFFFF;
  font-weight: 700;
}
.footer-copyright p {
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Laila", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 1280px) {
  #body {
    max-width: 1600px;
    margin: 0 auto;
  }
}

main {
  text-align: center;
}

.hero {
  position: relative;
}
@media (min-width: 1280px) {
  .hero {
    padding: 0rem 6.4rem;
    display: flex;
    align-items: center;
    text-align: left;
  }
}
.hero__text {
  padding: 3.2rem 1.6rem 0rem 1.6rem;
}
@media (min-width: 768px) {
  .hero__text {
    padding: 3.2rem 3.2rem 0rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    padding: 3.2rem 6.4rem 0rem 6.4rem;
    flex-basis: 50%;
    flex-grow: 0;
  }
}
.hero__text p {
  padding: 0.8rem 0rem 2.4rem 0rem;
}
@media (min-width: 768px) {
  .hero__text p {
    padding: 1.6rem 3.2rem 2.4rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .hero__text p {
    padding: 1.6rem 0rem 3.2rem 0rem;
  }
}
.hero__image {
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .hero__image {
    flex-basis: 50%;
    flex-grow: 0;
  }
}
.hero__image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .hero__image img {
    max-width: 70%;
    max-width: 600px;
  }
}
.hero__map {
  background-image: url("../assets/map-BG.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 1216px;
  height: 482px;
  left: 0px;
  top: 0px;
  opacity: 0.1;
}
.hero__bgicon {
  position: absolute;
  display: none;
}
@media (min-width: 1280px) {
  .hero__bgicon {
    display: block;
  }
}
.hero .bg-arrow {
  width: 103.92px;
  height: 33.63px;
  left: 52%;
  top: 12%;
}
.hero .bg-dot {
  width: 17.39px;
  height: 17.39px;
  left: 92%;
  top: 15%;
}
.hero .bg-location {
  left: 94%;
  top: 29%;
}
.hero .bg-location-small {
  left: 90%;
  top: 45%;
  width: 18px;
}

.process {
  padding: 0rem 1.6rem;
}
@media (min-width: 1280px) {
  .process {
    padding: 9.6rem 0rem 6.4rem 0rem;
  }
}
.process__icons {
  text-align: center;
}
@media (min-width: 1280px) {
  .process__icons {
    padding: 0rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.process__icons__step {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .process__icons__step {
    padding: 1.6rem 6.4rem;
  }
}
@media (min-width: 1280px) {
  .process__icons__step {
    width: 40rem;
  }
  .process__icons__step h5 {
    padding-bottom: 1.6rem;
  }
}
.process__icons__step img {
  padding: 1.6rem 0rem;
  width: 40%;
}
@media (min-width: 768px) {
  .process__icons__step img {
    max-width: 18%;
  }
}
@media (min-width: 1280px) {
  .process__icons__step img {
    max-width: 18rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .about {
    padding: 0rem 12.8rem 6.4rem 12.8rem;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row;
  }
}
.about__image {
  order: 2;
  position: relative;
}
@media (min-width: 1280px) {
  .about__image {
    order: 1;
    flex-basis: 50%;
    flex-grow: 0;
  }
}
.about__image--illustration {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .about__image--illustration {
    max-width: 70%;
    max-width: 600px;
  }
}
.about__bgicon {
  display: none;
  position: absolute;
}
@media (min-width: 1280px) {
  .about__bgicon {
    display: block;
  }
}
.about .bg-arrow {
  left: 65%;
  top: 12%;
  transform: rotate(-26.94deg);
}
.about .bg-dot-yellow {
  width: 11.59px;
  height: 11.59px;
  top: 12%;
  left: 18%;
  background: #FFCA00;
  border-radius: 6.5px;
}
.about .bg-dot-blue {
  width: 11.59px;
  height: 11.59px;
  left: 16%;
  top: 86%;
  background: #1EBBD7;
  border-radius: 4px;
  transform: rotate(14.24deg);
}
.about .bg-dot-red {
  width: 11.59px;
  height: 11.59px;
  left: 90%;
  top: 70%;
  background: #FD5056;
  border-radius: 4px;
  transform: rotate(-41.14deg);
}
.about__text {
  order: 1;
  padding: 3.2rem 1.6rem 0rem 1.6rem;
}
@media (min-width: 768px) {
  .about__text {
    padding: 6.4rem 3.2rem 0rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .about__text {
    order: 2;
    flex-basis: 50%;
    flex-grow: 0;
  }
}
@media (min-width: 768px) {
  .about__text p {
    padding: 0rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .about__text p {
    padding: 1.6rem 0rem 0rem 0rem;
  }
}
.about__text__numbers {
  padding: 1.6rem 0rem 0rem 0rem;
}
@media (min-width: 1280px) {
  .about__text__numbers {
    display: flex;
    justify-content: space-between;
  }
}
.about__text__numbers div {
  padding: 0.8rem 0rem;
}

.gallery {
  padding: 0rem 1.6rem 1.6rem 1.6rem;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0rem 3.2rem 3.2rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 1.6rem 12.8rem 6.4rem 12.8rem;
  }
}
.gallery__intro {
  padding: 0rem 0rem 2.4rem 0rem;
}
@media (min-width: 1280px) {
  .gallery__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.gallery__intro p {
  padding: 0.8rem 0rem 2.4rem 0rem;
}
@media (min-width: 768px) {
  .gallery__intro p {
    padding: 0.8rem 3.2rem 2.4rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .gallery__intro p {
    max-width: 600px;
  }
}
.gallery__images {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1280px) {
  .gallery__images {
    display: none;
  }
}
.gallery__images img {
  padding: 1.6rem;
  border-radius: 25px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
@media (min-width: 768px) {
  .gallery__images img {
    width: 50%;
  }
  .gallery__images img:last-child {
    display: none;
  }
}
@media (min-width: 1280px) {
  .gallery__images img:last-child {
    display: flex;
  }
}
.gallery__images-desktop {
  display: none;
}
@media (min-width: 1280px) {
  .gallery__images-desktop {
    display: flex;
    justify-content: center;
  }
  .gallery__images-desktop img {
    padding: 1.6rem;
    border-radius: 25px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 1/1;
  }
  .gallery__images-desktop--left {
    flex-basis: 50%;
    height: 100%;
  }
  .gallery__images-desktop--right {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .gallery__images-desktop--right div {
    flex-basis: 50%;
    height: 50%;
  }
}

.cta {
  padding: 3.2rem 1.6rem 0.8rem 1.6rem;
  background-color: #F9F9F9;
}
@media (min-width: 768px) {
  .cta {
    padding: 4.8rem 3.2rem 0.8rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .cta {
    padding: 1.6rem 6.4rem;
    margin: 12.8rem;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 15px;
  }
}
@media (min-width: 1280px) {
  .cta__text {
    flex-basis: 60%;
  }
}
.cta__text p {
  padding: 0.8rem 0rem 2.4rem 0rem;
}
.cta__image {
  text-align: center;
}
@media (min-width: 1280px) {
  .cta__image {
    flex-basis: 40%;
  }
}
.cta__image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .cta__image img {
    max-width: 500px;
  }
}
@media (min-width: 1280px) {
  .cta__image img {
    max-width: 400px;
  }
}/*# sourceMappingURL=main.css.map */