html {
  font-size: 62.5%;
}

body {
  font-family: "Laila", "Nunito Sans", sans-serif;
}

h1 {
  color: #333333;
  font-family: "Laila", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 54.6666666667px;
  font-size: 42.6666666667px;
}
@media (min-width: 768px) {
  h1 {
    line-height: 82px;
    font-size: 64px;
  }
}

h2 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 52.6315789474px;
  font-size: 36.0902255639px;
}
@media (min-width: 768px) {
  h2 {
    line-height: 70px;
    font-size: 48px;
  }
}

h3 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 44.8px;
  font-size: 28.8px;
}
@media (min-width: 768px) {
  h3 {
    line-height: 56px;
    font-size: 36px;
  }
}

h4 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 28.8px;
  font-size: 19.2px;
}
@media (min-width: 768px) {
  h4 {
    line-height: 36px;
    font-size: 24px;
  }
}

h5 {
  color: #333333;
  font-family: "Laila";
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
  font-size: 16px;
}
@media (min-width: 768px) {
  h5 {
    line-height: 30px;
    font-size: 20px;
  }
}

h6 {
  color: #FD5056;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 22.4px;
  font-size: 12.8px;
}
@media (min-width: 768px) {
  h6 {
    line-height: 28px;
    font-size: 16px;
  }
}

p, li {
  color: #555555;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  font-size: 12.8px;
}
@media (min-width: 768px) {
  p, li {
    line-height: 28px;
    font-size: 16px;
  }
}

.primary-button {
  background-color: #FD5056;
  border: 2px solid #FD5056;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 7px 20px rgba(253, 80, 86, 0.2980392157);
  padding: 0.8rem 3.2rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}
.primary-button:hover {
  background-color: #FFFFFF;
  color: #FD5056;
}

.slidein-right {
  opacity: 0;
  transform: translateX(25%);
  animation: slide-in 0.8s ease-in-out 1s forwards;
}

.slidein-left {
  opacity: 0;
  transform: translateX(-25%);
  animation: slide-in 0.8s ease-in-out 0.3s forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadein-up {
  opacity: 0;
  transform: translateY(25%);
  animation: fade-up 0.8s ease-in-out 1.8s forwards;
}

@keyframes fade-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar {
  padding: 1.6rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .navbar {
    padding: 3.2rem 3.2rem;
  }
}
@media (min-width: 768px) {
  .navbar {
    padding: 3.2rem 6.4rem;
  }
}
.navbar__logo {
  width: 50%;
  min-width: 150px;
  max-width: 350px;
}
.navbar__menu-mobile {
  width: 15%;
  max-width: 20px;
}
@media (min-width: 768px) {
  .navbar__menu-mobile {
    display: none;
  }
}
.navbar__menu {
  display: none;
}
@media (min-width: 768px) {
  .navbar__menu {
    display: flex;
  }
}
.navbar__list {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navbar__item {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-right: 35px;
  color: #333745;
}
.navbar__item--active {
  color: #FD5056;
}
.navbar__link:visited, .navbar__link:link {
  text-decoration: none;
}
.navbar__link--light {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #333745;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.hero {
  position: relative;
}
@media (min-width: 1280px) {
  .hero {
    padding: 0rem 6.4rem;
    display: flex;
    align-items: center;
    text-align: left;
  }
}
.hero__text {
  padding: 3.2rem 1.6rem 0rem 1.6rem;
}
@media (min-width: 768px) {
  .hero__text {
    padding: 3.2rem 3.2rem 0rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    padding: 3.2rem 6.4rem 0rem 6.4rem;
    flex-basis: 50%;
    flex-grow: 0;
  }
}
.hero__text p {
  padding: 0.8rem 0rem 2.4rem 0rem;
}
@media (min-width: 768px) {
  .hero__text p {
    padding: 1.6rem 3.2rem 2.4rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .hero__text p {
    padding: 1.6rem 0rem 3.2rem 0rem;
  }
}
.hero__image {
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .hero__image {
    flex-basis: 50%;
    flex-grow: 0;
  }
}
.hero__image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .hero__image img {
    max-width: 70%;
    max-width: 600px;
  }
}
.hero__gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 31.24%, rgba(253, 80, 86, 0.1) 100%);
  opacity: 0.6;
  background-repeat: no-repeat;
  position: absolute;
  width: 100vw;
  height: 482px;
  left: 0px;
  top: 0px;
}
.hero__bgicon {
  position: absolute;
  display: none;
}
@media (min-width: 1280px) {
  .hero__bgicon {
    display: block;
  }
}
.hero .bg-arrow {
  width: 103.92px;
  height: 33.63px;
  left: 52%;
  top: 12%;
}
.hero .bg-dot {
  width: 17.39px;
  height: 17.39px;
  left: 92%;
  top: 15%;
}
.hero .bg-location {
  left: 94%;
  top: 29%;
}
.hero .bg-location-small {
  left: 90%;
  top: 45%;
  width: 18px;
}
.hero__location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 77px;
  background: #FFFFFF;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.1);
  border-radius: 75px;
  margin-bottom: 15px;
}
.hero__location {
  background-color: white;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.hero__icon {
  width: 12px;
  height: 14px;
}
.hero__input-group {
  display: flex;
  flex-direction: column;
}
.hero__label {
  font-size: 18px;
  font-weight: 900;
  font-family: "Nunito Sans";
  color: #8C849F;
}
.hero__input {
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #333745;
  width: 100%;
}
.hero__date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 534px;
  height: 77px;
  background: #FFFFFF;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.1);
  border-radius: 75px;
  position: relative;
}
.hero__date {
  background-color: white;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.hero__cta {
  width: 59px;
  height: 59px;
  border: none;
  border-radius: 1000px;
  background-color: #1EBBD7;
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__cta-icon {
  width: 22px;
}/*# sourceMappingURL=travel-planner.css.map */