@use "./partials/fonts";
@use "./partials/media" as *;
@use "./partials/mixins" as *;
@use "./partials/variables";
@use "./partials/buttons";
@use "./partials/animations";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Laila', 'Nunito Sans',sans-serif;
    box-sizing: border-box;
}

// Navigation bar

.header{
    padding: 24px 16px;
    @include tablet{
        padding: 36px 36px;
    }
    @include desktop{
        padding: 36px 5vw;
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    @include tablet{
        flex-direction: row;
    }
    &__logo{
        width: 150px;
        margin-bottom: 8px;
        @include tablet{
            margin: 0;
            width: 200px;
        }
        @include desktop{
            width: 280px;
        }
    }
    &__list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
        }
    }
    &__item{
        margin-bottom: 8px;
        @include tablet{
            margin: 0;
        }
    }
    &__link{
        text-decoration: none;
        font-family: 'Nunito Sans';
        color: variables.$dark-color;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        @include tablet{
            flex-direction: row;
            margin-right: 24px;
        }
        @include desktop{
            font-size: 18px;
            line-height: 30px;
            margin-right: 36px;
        }

        &--active{
            color: variables.$primary-color;
        }
        &--btn{
            padding: 6px 24px;
            background-color: variables.$primary-color;
            font-weight: 700;
            color: variables.$white;
            border-radius: 25px;
        }
        &--light{
            font-weight: 400;
            font-size: 15px;
            @include desktop{
                font-size: 16px;
            }
        }
    }
}

